<div class="ui secondary pointing menu">
  <a class="active item">
    <i class="home icon"></i> 2Gethr
  </a>
  <a class="item">
    <div class="ui green label">{{user.subscriptions.length || 0}}</div> Subscriptions
  </a>

  <div class="right menu">
    <div class="ui dropdown item">
      {{user.name}}
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Settings</a>
        <a class="item">Logout</a>
      </div>
    </div>
  </div>
</div>

<div class="ui card" ng-repeat="sub in user.subscriptions">
  <div class="content">
    <div class="header">
      <img src="img/favicon.png" class="ui avatar image">
      {{sub.name}}
    </div>
    <div class="description">
      Short Description
    </div>
  </div>
  <div class="ui two bottom attached buttons">
    <div class="ui button">
      Subscribe
    </div>
    <div class="ui button">
      Unsubscribe
    </div>
  </div>
</div>

<p>{{user.subscriptions}}</p>
<p ng-show="user.firstVisit">This is your first visit !</p>
<p ng-hide="user.firstVisit">This is NOT your first visit. Welcome back !</p>

<!--
<ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds">
  <ui-gmap-markers models="locations" coords="'self'" icon="'icon'" click="'onClick'">
    <ui-gmap-windows show="show" >
      <div ng-non-bindable>{{name}}</div>
    </ui-gmap-windows>
  </ui-gmap-markers>
</ui-gmap-google-map>
-->
