<header>
  <div class="intro-header">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>2Gethr</h1>
            <h3>Let's gather together</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <a class="btn btn-default btn-lg" ng-click="signIn()">
                  <i class="fa fa-google fa-fw"></i>
                  <span class="network-name">Sign in</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>

<content>
  <div class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Bring your smile, we take care of the rest</h2>
          <p class="lead">
            Meet new people around places you like. And have fun !
            We set for you one random event. But let's be honest, it's always up to you !
            Celebrate, share, play... anything you want.
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="content-section-b">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Subscribe to places</h2>
          <p class="lead">
            You like a place and want to meet people around it ? That's easy.
            An instant click-to-subscribe and... it's all set ! Piece of cake, right ?
            You already know how to use 2Gethr.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Get notified on an upcoming event</h2>
          <p class="lead">
            A friendly notification will occured when time has come for an event in
            one of your subscriptions. We tell you the exact spot and the meeting time.
            Then you decide to participate or not. A single button. That's all.
          </p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive" src="" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="content-section-b">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">It's nearly time, get prepared</h2>
          <p class="lead">
            Once you have validated your participation to an event. The secret event
            will be revealed soon ! Useful informations will be sent to you. With all the
            necessary you need to be prepared.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="" alt="">
        </div>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <ul class="list-inline intro-social-buttons">
          <li>
            <a href="https://github.com/2Gethr" class="btn btn-default btn-lg" target="_blank">
              <i class="fa fa-github fa-fw"></i><span class="network-name">Github</span>
            </a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg">
              <i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span>
            </a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg">
              <i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="copyright small">
            Copyright &copy; 2Gethr 2015. All Rights Reserved... more or less.
          </p>
        </div>
      </div>
    </div>

  </div>
</content>
